
#app {
  display: grid;
  width: 100%;

  grid-template-areas: 
    'header header'
    'nav main';
  
    grid-template-columns: 10rem 1fr;
}


header {
  grid-area: header;
  font-size: 150%;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
}

main {
  grid-area: main;
}