body {
  margin: 0;
  padding: 0;
}

#app {
  display: grid;
  width: 100%;

  grid-template-areas: 
    'header header'
    'nav main';
  
    grid-template-columns: 10rem 1fr;
}


header {
  grid-area: header;
  font-size: 200%;

  padding: 0.5em;
  color: white;
  background-color: #444444;
}

nav {
  padding: 0.5em 0;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

nav a {
  padding: 0.5em;
  text-decoration: none;
}

main {
  grid-area: main;
}